.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbarInput{
    outline: none;
    height: 30px;
    border-radius: 5px;
    width: 80%;
    padding:0 10px 0 10px;
    margin: 0 auto;
}

